@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1d24;
}

header {
    width: 600px;
    color: #ededed;
    border: 2px solid rgb(117, 9, 9);
    margin: 12px 0;
    border-radius: 6px;
    padding: 18px;
}

.sugestoes {
    font-size: 20px;
    color: #ededed;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 18px;
}

.sugestoes form {
    width: 600px;
    text-align: center;
}

form .input {
    display: flex;
    justify-content: space-between;
}

.input .div-nome {
    width: 48.5%;
}

.caixa .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid rgb(117, 9, 9);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}

.caixa .item::placeholder {
    color: rgba(255, 255, 255, .3);
}

form .input-text .item {
    resize: none;
}

form button {
    padding: 12px 32px;
    background: rgb(117, 9, 9);
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    font-size: 16px;
    color: #ededed;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

form button:hover {
    box-shadow: rgb(117, 9, 9);
}